EMAIL_USERNAME=your@gmail.com
EMAIL_PASSWORD=your-app-password
CORS_ALLOWED_ORIGINS=https://your-site.com
USER_AGENT_SIMPLIFIED=true
# Format: key=email,key2=email2
ALIAS=contact=contact@your-site.com,support=support@your-site.com
# 'dev' pour désactiver la restriction CORS, production sinon
RUN_MODE=production
